export api_key="SGaNN7LDGRHSQhJnpyLTgJkcJ"
export api_secret="J9djErVsoKITNiAqfh2MRl8yj00YcTcxXaNjuz4uDt0DpSCP5m"
export bearer_token="AAAAAAAAAAAAAAAAAAAAAGv2KAEAAAAABQR%2FBgSZz9ffjHdeyqlYO4%2BGjSs%3D3wG7qyIfhg0t8b7487utEXZ0H6sQJl3x65t8F3lAb39fwtsZWq"